extend includes/layout.pug

block content
  +card()
    p.
      Hello! There's nothing on the home page yet.
      In the future, expect recent movies, recent wins

    pre.
      TODO:
        - criteria/:id page:
          - show which movies have selected N criteria
          - show how many times it was used in a movie
        - Better movies view, potentially show mini bingo boards
        - overall CSS polishing